<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if(user_signed_in?) %>

  <td><%= link_to 'Sign out', '/users/sign_out' , method: :delete, data: { confirm: 'Are you sure to Sign Out?' } %></td>
    <td><%= link_to 'User Panel', '/user/index'  %></td>

<% else %>
  <td><%= link_to 'Sign In', '/users/sign_in' %></td>
<% end %>
<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
